.products-container
{
    width: 100%;
    height: 100vh;
}
.max-product
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid-products
{
    width: 95%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}
.card 
{
    width: 350px;
    height: 400px;
    box-shadow: 0px 0px 10px #3F3D56;
    background-color: #1a1a1a;
    border-radius: 10px;
    justify-self: center;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    color: #534caf;
}
.card-link
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card a 
{
    border-bottom: 3px solid #FF0A0E;
    opacity: .7;
    color: #f1f1f1;
    font-size: larger;
    transition: opacity .2s ease-in;
}
.card-link a:hover
{
    opacity: 1;
}
.card img
{
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
}
.card-info
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-desk
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.card textarea
{
    width: 220px;
    height: 60px;
    resize: none;
    outline: none;
    border: none;
    background-color: #1a1a1a;
    color: #dbdbdb;
    font-size: large;
}